@import url('icons.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cap-height: 0.715;
}

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}

@layer utilities {
	@variants responsive {
		.flex-break {
			flex-basis: 100%;
			height: 0;
		}

		.flex-no-break {
			flex-basis: none;
			display: none;
		}
	}

	.break-words {
		word-break: break-word;
	}

	.baseline::after {
		content: '';
		height: 100%;
		display: inline-block;
	}
}
